@use "./base.scss";

// put your custom CSS here!
input[type="checkbox"] {
    /* 
     Quartz styled the checkbox, but this breaks now that we've increased 
     the size of the checkbox. This stanza returns to the default behavior
    */
    appearance: auto;

    // Increase size on mobile platforms for easier tapping
    width: 1.5em;
    height: 1.5em;

    &:checked {
        &::after {
        /* 
        Quartz styled the checked style, but this breaks now that we've increased 
        the size of the checkbox. This stanza returns to the default behavior
        */
        content: inherit;
        }
    }
}

// Fullscreen style
#ingredients:target li {
    font-size: xx-large;
    line-height: unset;
}

/*
 Hides the included header when transcluding a specific section of a note (by referencing its header).
 All transcludes go inside blockquote elements with the 'transclude' class. Only header transcludes start
 with '#'
 */
blockquote.transclude[data-block^="#"] > :is(h1, h2, h3, h4, h5, h6) {
    display: none;
}

// Style tables in the header (frontmatter)
.page-header .table-container {
    // Removes unwanted styling set by quartz
    table {
        margin: unset;

        th {
            border-bottom: unset;
        }
    }

    // Prevent column header from wrapping
    table tr > th {
        white-space: nowrap;
    }

    // Elipsis long value columns like links (this isn't working)
    // https://stackoverflow.com/questions/17345158/variable-sized-column-with-ellipsis-in-a-table
    // table tr > td {
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    //     white-space: nowrap;    
    // }

    // Add different border styling for table with column header (as opposed to row headers like the rest of quartz
    tr {
        border-bottom: 1px solid var(--lightgray);
        &:first-child {
            border-top: 2px solid var(--gray);
        }
        &:last-child {
            border-bottom: 2px solid var(--gray);
        }
    }
}